<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="TestDemo">

        <classes>
            <class name="TestCases.SearchTest"></class>
            <class name="TestCases.MultipleItem"></class>
            <class name="TestCases.ItemAddToCart"></class>
            <class name="TestCases.BagCount"></class>
            <class name="TestCases.CouponTest"></class>
            <class name="TestCases.OrderTotal"></class>
            <class name="TestCases.QuantityUpdate"></class>

        </classes>
    </test>
</suite>